// color
$pmairyColor: #222831;
$srcColor: #ffbe33;
$srcDarkColor: #e69c00;
$whiteColor: #ffffff;
$whiteDarkColor: #f1f2f3;
$textColor: #222222;

// Font Family
$pmairyFont: 'Poppins', sans-serif;
$srcFont: 'Dancing Script', cursive;

// Font weight  'Poppins', sans-serif
$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;

// Font weight 'Dancing Script', cursive
$srcFw600: 600;

body {
  background: $whiteColor;
  font-family: $pmairyFont;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $srcFont;
  line-height: 1.8em;
  font: {
    weight: $srcFw600;
  }
}
p {
  font-family: $pmairyFont;
  line-height: 1.5em;
  font: {
    weight: $fontWeight400;
  }
}

// Container Area Style And Responcive

.container {
  width: 1400px;
  margin: 0 auto;
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    width: 96%;
  }
}

// BTN CTA STYLE
.btn-cta {
  text-decoration: none;
  color: $whiteColor;
  background: $srcColor;
  padding: 10px 22px;
  border-radius: 20px;
  transition: 0.7s;
  margin: 15px 0;
  &:hover {
    background: $srcDarkColor;
  }
}

// Auto scrol btn style

.scrol_bolit {
  display: flex;
  margin-top: 30px;
  gap: 14px;
  .div {
    background: $srcDarkColor;
  }
  p {
    width: 14px;
    height: 14px;
    border-radius: 30px;
    background: white;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background: $srcDarkColor;
      width: 18px;
      height: 18px;
      &:active {
        background: $srcDarkColor;
      }
    }
  }
}

// Title Area Style
.title {
  text-align: center;
  margin-bottom: 27px;
  h2 {
    font: {
      size: 56px;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    font: {
      size: 44px;
    }
  }
}
.sub-title {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 10px;
  p {
    display: inline-block;
    margin-right: 45px;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: $pmairyColor;
    padding: 10px 24px;
    border-radius: 25px;
    color: $whiteColor;
    font: {
      size: 18px;
      weight: $fontWeight400;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 4px;
    align-items: center;
    justify-content: center;
    p {
      margin-bottom: 8px;
      margin-right: 10px;
      font: {
        size: 14px;
      }
    }
  }
}

// paddingXl Style

// navigation manu style responcive
@media only screen and (min-width: 200px) and (max-width: 767px) {
  #navigation_manu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 99999;
    transform: 0.9s all;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      width: 100%;
      li {
        padding-top: 20px;
      }
    }
  }
  #navigation_manu.open {
    right: 0; // open হলে slide-in হবে
  }
}
